<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="\css\manager.css">
        <title>Manager POS</title> 
    </head>
    <body>
        <h1>Manager POS</h1>

        <div class = "button-container">
            <div class = "reports">
                <h2> Reports </h2> 
                <a href = "#/Report1" class="button">Revenue Report</a> <!-- see revenue -->
                <a href = "#/Report2" class="button">Sales Report</a>
                <a href = "#/Report3" class="button">Excess Report</a>
                <a href = "#/Report4" class="button">Restock Report</a>
                <a href = "#/Report5" class="button">What Sales Together</a>
            </div>

            <div class = "menu-edit">
                <h2> Edit Menu </h2> 
                <a href = "/Menu-Edit1" class="button">Inventory</a> <!--check inventory-->
                <a href = "#/Menu-Edit2" class="button">Restock</a> <!--add inventory-->
                <a href = "#/Menu-Edit3" class="button">Pricing</a> <!--change prices-->
                <a href = "#/Menu-Edit4" class="button">Add Menu Item</a> <!--new menu item-->
            </div>

            <div class = "switch">
                <h2> Switch Sides </h2>
                <a href = "#/Switch1" class="button">Switch to Server View</a>
                <a href = "#/Switch2" class="button">Switch to Customer View</a>
            </div>
        </div>
        
    </body>
</html>